:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;
  color: #100f0f;
  background-color: #f9f9f9;
  text-align: center;
  align-items: center;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  background-color: #4420e3;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #d50d0d;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #7530e5;
  }
  a:hover {
    color: #d12536;
  }
}